# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.xcworkspace
timeline.xctimeline

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
Package.pins

# CocoaPods
Pods/

# Carthage
Carthage/Build/
Carthage/Checkouts/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
